# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Build
dist/
build/
.esbuild/

# Vite
.vite/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# IDE
.vscode/
.idea/
*.swp
*.swo

# Typescript
*.tsbuildinfo

# Mac / Windows
.DS_Store
Thumbs.db

# Coverage
coverage/

# Prisma
prisma/*.db
prisma/dev.db-journal

# Temporary files
tmp/
temp/

# Docker
docker-data/
